@page "/"

<PageTitle>Read me!</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Hi!</MudText>
<MudText Class="mb-8">Before start, you should specify valid apikey in appsettings.json file</MudText>
<MudText Class="mb-8">To get required statistics you should first go to <a href="/loaddata">Data Loader</a> page</MudText>
<MudText Class="mb-8">Data loader page emulates cache update service call which in real world scenario can be run separately every day to catch new offers on market.</MudText>
<MudText Class="mb-8">Cached data can be viewed at <a href="/fetchdata">Offers List</a> page</MudText>
<MudText Class="mb-8">Statistics required for this assignment <a href="/fetchdata">Statistics</a> page</MudText>
